In [1]:
#데이터셋 가져오기
#order 컬럼명 바꾸기 - 숫자로 되어 있는 부분에 Order (purchase event) 입력
import pandas as pd
#카테고리 전처리
import re
# 장바구니 분석
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import apriori, association_rules
import datetime as dt
import os
from collections import Counter

In [2]:
input_path = 'C:/GMG_R&D/3. 장바구니 분석/1. 한총' #input("작업 파일 경로를 입력하세요")
os.chdir(input_path)
path=os.getcwd()
print(path)

#폴더 생성
x = dt.datetime.now()

file_name=f'[월간보고서] 재시도 {x.month}월 분석 결과'

if not os.path.exists(file_name):
    os.mkdir(file_name)

C:\GMG_R&D\3. 장바구니 분석\1. 한총

In [3]:
df= pd.read_clipboard(sep='\t')
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33915 entries, Model Code (v41) to SM-F721NZDEKOO,SM-F936NZKEKOO
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Jan 1, 2022 - Jan 31, 2022  33915 non-null  int64
 1   Feb 1, 2022 - Feb 28, 2022  33915 non-null  int64
 2   Mar 1, 2022 - Mar 31, 2022  33915 non-null  int64
 3   Apr 1, 2022 - Apr 30, 2022  33915 non-null  int64
 4   May 1, 2022 - May 31, 2022  33915 non-null  int64
 5   Jun 1, 2022 - Jun 30, 2022  33915 non-null  int64
 6   Jul 1, 2022 - Jul 31, 2022  33915 non-null  int64
 7   Aug 1, 2022 - Aug 31, 2022  33915 non-null  int64
 8   Sep 1, 2022 - Sep 30, 2022  33915 non-null  int64
 9   Oct 1, 2022 - Oct 31, 2022  33915 non-null  int64
 10  Nov 1, 2022 - Nov 30, 2022  33915 non-null  int64
 11  Dec 1, 2022 - Dec 31, 2022  33915 non-null  int64
dtypes: int64(12)
memory usage: 3.4+ MB

In [4]:
df=df[1:]
df=df.reset_index().rename(columns={"index": "Model Code (v41)"})
#df['2020.01~2022.11']=df.iloc[:,1:4].sum(axis=1)
df

,Model Code (v41),"Jan 1, 2022 - Jan 31, 2022","Feb 1, 2022 - Feb 28, 2022","Mar 1, 2022 - Mar 31, 2022","Apr 1, 2022 - Apr 30, 2022","May 1, 2022 - May 31, 2022","Jun 1, 2022 - Jun 30, 2022","Jul 1, 2022 - Jul 31, 2022","Aug 1, 2022 - Aug 31, 2022","Sep 1, 2022 - Sep 30, 2022","Oct 1, 2022 - Oct 31, 2022","Nov 1, 2022 - Nov 30, 2022","Dec 1, 2022 - Dec 31, 2022"
0,AX53A9313GEDT1,846,0,0,0,0,0,0,0,0,0,0,0
1,CFX-D100D,497,473,167,311,326,278,292,282,226,254,230,291
2,CFX-G100D,461,123,170,382,311,148,333,314,287,0,297,308
3,SM-R870NZSDKOO,444,79,100,117,73,41,49,15,2,0,1,2
4,DW50T4065SSS,403,324,307,230,180,140,154,184,184,64,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
33909,"HGFG0020,HGFG0020,HGFG0023,HGFG0029",0,0,0,0,0,0,0,0,0,0,0,1
33910,"AF19B7932RFRZ,KQ65QB65-W15,RF85B9121APW",0,0,0,0,0,0,0,0,0,0,0,1
33911,"SF222498,SF179394,SF219812",0,0,0,0,0,0,0,0,0,0,0,1
33912,"RA-K15DUU39,RA-K15DUU39",0,0,0,0,0,0,0,0,0,0,0,1
33913,"SM-F721NZDEKOO,SM-F936NZKEKOO",0,0,0,0,0,0,0,0,0,0,0,1

In [5]:
#카테고리 가져오기
rex= pd.read_clipboard(sep='\t')
rex_book=rex
rex.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Category1D        37 non-null     object
 1   Category2D        37 non-null     object
 2   Category2D_Value  37 non-null     object
dtypes: object(3)
memory usage: 1016.0+ bytes

In [6]:

new_df=[]

for mobile in df.columns[1:]:
    print(f'************< {mobile} >******************')
    
    all=df[mobile].sum()
    one=df[~df[['Model Code (v41)',mobile]]['Model Code (v41)'].str.contains(',')][mobile].sum()
    two=df[df[['Model Code (v41)',mobile]]['Model Code (v41)'].str.contains(',')][mobile].sum()
    percent_one=round((df[~df[['Model Code (v41)',mobile]]['Model Code (v41)'].str.contains(',')][mobile].sum()/all)*100,2)
    percent_two=round((df[df[['Model Code (v41)',mobile]]['Model Code (v41)'].str.contains(',')][mobile].sum()/all)*100,2)

    
    
    print('전체: ',all)
    print('1개: ',one)
    print('2개이상: ',two)
    print("제품 1개 구매 비중: ",percent_one)
    print("제품 2개이상 구매 비중: ",percent_two)

    new_df1=[]
    for i in [all, one, two, percent_one,percent_two]:
        new_df1.append(i)
    new_df.append(new_df1)

# 데이터 저장3: 데이터 기준
pd.DataFrame(new_df,columns=['전체','1개','2개이상','제품 1개 구매 비중', '제품 2개이상 구매 비중'],
            index=[i[:3] for i in df.columns[1:]]).to_csv(f'{path}/{file_name}/[월간보고]기초통계량결과.csv', encoding='utf-8-sig')
pd.DataFrame(new_df,columns=['전체','1개','2개이상','제품 1개 구매 비중', '제품 2개이상 구매 비중'])

************< Jan 1, 2022 - Jan 31, 2022 >******************
전체:  31751
1개:  28470
2개이상:  3281
제품 1개 구매 비중:  89.67
제품 2개이상 구매 비중:  10.33
************< Feb 1, 2022 - Feb 28, 2022 >******************
전체:  114787
1개:  109046
2개이상:  5741
제품 1개 구매 비중:  95.0
제품 2개이상 구매 비중:  5.0
************< Mar 1, 2022 - Mar 31, 2022 >******************
전체:  63195
1개:  57845
2개이상:  5350
제품 1개 구매 비중:  91.53
제품 2개이상 구매 비중:  8.47
************< Apr 1, 2022 - Apr 30, 2022 >******************
전체:  44954
1개:  40080
2개이상:  4874
제품 1개 구매 비중:  89.16
제품 2개이상 구매 비중:  10.84
************< May 1, 2022 - May 31, 2022 >******************
전체:  64250
1개:  58925
2개이상:  5325
제품 1개 구매 비중:  91.71
제품 2개이상 구매 비중:  8.29
************< Jun 1, 2022 - Jun 30, 2022 >******************
전체:  43734
1개:  39133
2개이상:  4601
제품 1개 구매 비중:  89.48
제품 2개이상 구매 비중:  10.52
************< Jul 1, 2022 - Jul 31, 2022 >******************
전체:  42746
1개:  37925
2개이상:  4821
제품 1개 구매 비중:  88.72
제품 2개이상 구매 비중:  11.28
************< Aug 1, 2022 - Aug 31, 2022 >******************
전체:  192328
1개:  183012
2개이상:  9316
제품 1개 구매 비중:  95.16
제품 2개이상 구매 비중:  4.84
************< Sep 1, 2022 - Sep 30, 2022 >******************
전체:  132916
1개:  126904
2개이상:  6012
제품 1개 구매 비중:  95.48
제품 2개이상 구매 비중:  4.52
************< Oct 1, 2022 - Oct 31, 2022 >******************
전체:  72186
1개:  67276
2개이상:  4910
제품 1개 구매 비중:  93.2
제품 2개이상 구매 비중:  6.8
************< Nov 1, 2022 - Nov 30, 2022 >******************
전체:  39973
1개:  35575
2개이상:  4398
제품 1개 구매 비중:  89.0
제품 2개이상 구매 비중:  11.0
************< Dec 1, 2022 - Dec 31, 2022 >******************
전체:  41717
1개:  37143
2개이상:  4574
제품 1개 구매 비중:  89.04
제품 2개이상 구매 비중:  10.96

        전체      1개  2개이상  제품 1개 구매 비중  제품 2개이상 구매 비중
0    31751   28470  3281        89.67          10.33
1   114787  109046  5741        95.00           5.00
2    63195   57845  5350        91.53           8.47
3    44954   40080  4874        89.16          10.84
4    64250   58925  5325        91.71           8.29
5    43734   39133  4601        89.48          10.52
6    42746   37925  4821        88.72          11.28
7   192328  183012  9316        95.16           4.84
8   132916  126904  6012        95.48           4.52
9    72186   67276  4910        93.20           6.80
10   39973   35575  4398        89.00          11.00
11   41717   37143  4574        89.04          10.96

In [8]:
for rex_list in rex.Category1D.unique():
    print(f'<<<{rex_list}>>')
    new_rex=rex[rex['Category1D']==rex_list]
    new_rex=new_rex.reset_index()
    final_year={}

    for mobile in df.columns[1:]:
        print(f'************< {mobile} >******************')

        mobile_df=df[df[mobile]!= 0]
        #print('order 0제외 행개수:',mobile_df.shape[0])
        mobile_df_1=mobile_df[~mobile_df[['Model Code (v41)',mobile]]['Model Code (v41)'].str.contains(',')]
        mobile_df_2=mobile_df[mobile_df[['Model Code (v41)',mobile]]['Model Code (v41)'].str.contains(',')]
        
    

        final_order={}
        code_book={'전체':mobile_df,'1개':mobile_df_1,'2개이상':mobile_df_2}
        
        for key, value in code_book.items():
            value=value.reset_index(drop=True)
            data=value
            a = data['Model Code (v41)'].tolist()
            b = ','.join(a) #리스트 문자열로
            c = b.split(',') #문자열 개별 문자로 리스트화 
            model = list(set(c)) #중복 제거

            #전체 SKU 담을 딕셔너리
            dic_category = {}

            for m in model :
                flag = 1
                for i in range(len(new_rex)):
                
                    r = re.compile(new_rex.Category2D_Value[i])
                    if r.search(m):
                        dic_category[m] = new_rex.Category1D[i] +'_'+ new_rex.Category2D[i]  #new_rex.Category1D[i] +'_'+  #sku 규칙을 알고자한다면, r.search(m).group()
                        flag = 0
                        break
                if flag :
                    dic_category[m] = '기타'
            #데이터셋 만들기
            dataset = []    # 데이터셋 구조 [ [a,b], [a,c], [a,b,c] .... ]

            for i in range(len(data)) :
                sku = data['Model Code (v41)'][i]
                revised = sku.split(",")
                code = []
                for j in range(len(revised)) :
                    code.append(dic_category[revised[j]])   #각 SKU 리스트에 담기
                
                for k in range(data[mobile][i]) :   #order 수만큼 담기
                    dataset.append(code) 
            print(f'<<<{key}>>>')
            print('기존 dataset 행 수: ',len(dataset))

            #기타제거
            ho = []
            rm_set = {'기타'}
            for s in dataset:
                arr_new = [i for i in s if i not in rm_set]
                ho.append(arr_new) 
            dataset=ho
            
            print('기타 제거 후, 행 수: ',len(dataset))

            select_mobile=[s for s in dataset if any(rex_list in l for l in s)]
            print(f'{rex_list}이 포함된 행수: ',len(select_mobile))  
        

            # 실제 구매 비중
            per_order={}
    
            for  PRODU in new_rex['Category2D']:
                df_count=[s for s in dataset for i in s if PRODU in i]
                per_order[PRODU]=len(df_count)
            final_order[key]=per_order
        final_year[mobile]=final_order

    year_order=pd.DataFrame.from_dict(final_year, orient="index").stack().to_frame()
 
# 데이터 저장2: 모바일 항목 내에 카운트   
    pd.DataFrame(year_order[0].values.tolist(), index=year_order.index).to_csv(f'{path}/{file_name}/[월간보고]{rex_list}_전체 주문수 결과.csv', encoding='utf-8-sig')

<<<모바일>>
************< Jan 1, 2022 - Jan 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  31751
기타 제거 후, 행 수:  31751
모바일이 포함된 행수:  13871
<<<1개>>>
기존 dataset 행 수:  28470
기타 제거 후, 행 수:  28470
모바일이 포함된 행수:  12832
<<<2개이상>>>
기존 dataset 행 수:  3281
기타 제거 후, 행 수:  3281
모바일이 포함된 행수:  1039
************< Feb 1, 2022 - Feb 28, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  114787
기타 제거 후, 행 수:  114787
모바일이 포함된 행수:  98090
<<<1개>>>
기존 dataset 행 수:  109046
기타 제거 후, 행 수:  109046
모바일이 포함된 행수:  94609
<<<2개이상>>>
기존 dataset 행 수:  5741
기타 제거 후, 행 수:  5741
모바일이 포함된 행수:  3481
************< Mar 1, 2022 - Mar 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  63195
기타 제거 후, 행 수:  63195
모바일이 포함된 행수:  44538
<<<1개>>>
기존 dataset 행 수:  57845
기타 제거 후, 행 수:  57845
모바일이 포함된 행수:  41434
<<<2개이상>>>
기존 dataset 행 수:  5350
기타 제거 후, 행 수:  5350
모바일이 포함된 행수:  3104
************< Apr 1, 2022 - Apr 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  44954
기타 제거 후, 행 수:  44954
모바일이 포함된 행수:  23239
<<<1개>>>
기존 dataset 행 수:  40080
기타 제거 후, 행 수:  40080
모바일이 포함된 행수:  21311
<<<2개이상>>>
기존 dataset 행 수:  4874
기타 제거 후, 행 수:  4874
모바일이 포함된 행수:  1928
************< May 1, 2022 - May 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  64250
기타 제거 후, 행 수:  64250
모바일이 포함된 행수:  41953
<<<1개>>>
기존 dataset 행 수:  58925
기타 제거 후, 행 수:  58925
모바일이 포함된 행수:  40230
<<<2개이상>>>
기존 dataset 행 수:  5325
기타 제거 후, 행 수:  5325
모바일이 포함된 행수:  1723
************< Jun 1, 2022 - Jun 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  43734
기타 제거 후, 행 수:  43734
모바일이 포함된 행수:  18127
<<<1개>>>
기존 dataset 행 수:  39133
기타 제거 후, 행 수:  39133
모바일이 포함된 행수:  16803
<<<2개이상>>>
기존 dataset 행 수:  4601
기타 제거 후, 행 수:  4601
모바일이 포함된 행수:  1324
************< Jul 1, 2022 - Jul 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  42746
기타 제거 후, 행 수:  42746
모바일이 포함된 행수:  13785
<<<1개>>>
기존 dataset 행 수:  37925
기타 제거 후, 행 수:  37925
모바일이 포함된 행수:  12655
<<<2개이상>>>
기존 dataset 행 수:  4821
기타 제거 후, 행 수:  4821
모바일이 포함된 행수:  1130
************< Aug 1, 2022 - Aug 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  192328
기타 제거 후, 행 수:  192328
모바일이 포함된 행수:  164199
<<<1개>>>
기존 dataset 행 수:  183012
기타 제거 후, 행 수:  183012
모바일이 포함된 행수:  158564
<<<2개이상>>>
기존 dataset 행 수:  9316
기타 제거 후, 행 수:  9316
모바일이 포함된 행수:  5635
************< Sep 1, 2022 - Sep 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  132916
기타 제거 후, 행 수:  132916
모바일이 포함된 행수:  111512
<<<1개>>>
기존 dataset 행 수:  126904
기타 제거 후, 행 수:  126904
모바일이 포함된 행수:  108555
<<<2개이상>>>
기존 dataset 행 수:  6012
기타 제거 후, 행 수:  6012
모바일이 포함된 행수:  2957
************< Oct 1, 2022 - Oct 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  72186
기타 제거 후, 행 수:  72186
모바일이 포함된 행수:  51429
<<<1개>>>
기존 dataset 행 수:  67276
기타 제거 후, 행 수:  67276
모바일이 포함된 행수:  49477
<<<2개이상>>>
기존 dataset 행 수:  4910
기타 제거 후, 행 수:  4910
모바일이 포함된 행수:  1952
************< Nov 1, 2022 - Nov 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  39973
기타 제거 후, 행 수:  39973
모바일이 포함된 행수:  19202
<<<1개>>>
기존 dataset 행 수:  35575
기타 제거 후, 행 수:  35575
모바일이 포함된 행수:  17854
<<<2개이상>>>
기존 dataset 행 수:  4398
기타 제거 후, 행 수:  4398
모바일이 포함된 행수:  1348
************< Dec 1, 2022 - Dec 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  41717
기타 제거 후, 행 수:  41717
모바일이 포함된 행수:  18457
<<<1개>>>
기존 dataset 행 수:  37143
기타 제거 후, 행 수:  37143
모바일이 포함된 행수:  17415
<<<2개이상>>>
기존 dataset 행 수:  4574
기타 제거 후, 행 수:  4574
모바일이 포함된 행수:  1042
<<<TV>>
************< Jan 1, 2022 - Jan 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  31751
기타 제거 후, 행 수:  31751
TV이 포함된 행수:  1973
<<<1개>>>
기존 dataset 행 수:  28470
기타 제거 후, 행 수:  28470
TV이 포함된 행수:  1819
<<<2개이상>>>
기존 dataset 행 수:  3281
기타 제거 후, 행 수:  3281
TV이 포함된 행수:  154
************< Feb 1, 2022 - Feb 28, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  114787
기타 제거 후, 행 수:  114787
TV이 포함된 행수:  1894
<<<1개>>>
기존 dataset 행 수:  109046
기타 제거 후, 행 수:  109046
TV이 포함된 행수:  1770
<<<2개이상>>>
기존 dataset 행 수:  5741
기타 제거 후, 행 수:  5741
TV이 포함된 행수:  124
************< Mar 1, 2022 - Mar 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  63195
기타 제거 후, 행 수:  63195
TV이 포함된 행수:  1530
<<<1개>>>
기존 dataset 행 수:  57845
기타 제거 후, 행 수:  57845
TV이 포함된 행수:  1427
<<<2개이상>>>
기존 dataset 행 수:  5350
기타 제거 후, 행 수:  5350
TV이 포함된 행수:  103
************< Apr 1, 2022 - Apr 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  44954
기타 제거 후, 행 수:  44954
TV이 포함된 행수:  1447
<<<1개>>>
기존 dataset 행 수:  40080
기타 제거 후, 행 수:  40080
TV이 포함된 행수:  1259
<<<2개이상>>>
기존 dataset 행 수:  4874
기타 제거 후, 행 수:  4874
TV이 포함된 행수:  188
************< May 1, 2022 - May 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  64250
기타 제거 후, 행 수:  64250
TV이 포함된 행수:  1312
<<<1개>>>
기존 dataset 행 수:  58925
기타 제거 후, 행 수:  58925
TV이 포함된 행수:  1056
<<<2개이상>>>
기존 dataset 행 수:  5325
기타 제거 후, 행 수:  5325
TV이 포함된 행수:  256
************< Jun 1, 2022 - Jun 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  43734
기타 제거 후, 행 수:  43734
TV이 포함된 행수:  1433
<<<1개>>>
기존 dataset 행 수:  39133
기타 제거 후, 행 수:  39133
TV이 포함된 행수:  1198
<<<2개이상>>>
기존 dataset 행 수:  4601
기타 제거 후, 행 수:  4601
TV이 포함된 행수:  235
************< Jul 1, 2022 - Jul 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  42746
기타 제거 후, 행 수:  42746
TV이 포함된 행수:  1709
<<<1개>>>
기존 dataset 행 수:  37925
기타 제거 후, 행 수:  37925
TV이 포함된 행수:  1342
<<<2개이상>>>
기존 dataset 행 수:  4821
기타 제거 후, 행 수:  4821
TV이 포함된 행수:  367
************< Aug 1, 2022 - Aug 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  192328
기타 제거 후, 행 수:  192328
TV이 포함된 행수:  2603
<<<1개>>>
기존 dataset 행 수:  183012
기타 제거 후, 행 수:  183012
TV이 포함된 행수:  2173
<<<2개이상>>>
기존 dataset 행 수:  9316
기타 제거 후, 행 수:  9316
TV이 포함된 행수:  430
************< Sep 1, 2022 - Sep 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  132916
기타 제거 후, 행 수:  132916
TV이 포함된 행수:  2535
<<<1개>>>
기존 dataset 행 수:  126904
기타 제거 후, 행 수:  126904
TV이 포함된 행수:  2298
<<<2개이상>>>
기존 dataset 행 수:  6012
기타 제거 후, 행 수:  6012
TV이 포함된 행수:  237
************< Oct 1, 2022 - Oct 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  72186
기타 제거 후, 행 수:  72186
TV이 포함된 행수:  2686
<<<1개>>>
기존 dataset 행 수:  67276
기타 제거 후, 행 수:  67276
TV이 포함된 행수:  2424
<<<2개이상>>>
기존 dataset 행 수:  4910
기타 제거 후, 행 수:  4910
TV이 포함된 행수:  262
************< Nov 1, 2022 - Nov 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  39973
기타 제거 후, 행 수:  39973
TV이 포함된 행수:  1706
<<<1개>>>
기존 dataset 행 수:  35575
기타 제거 후, 행 수:  35575
TV이 포함된 행수:  1426
<<<2개이상>>>
기존 dataset 행 수:  4398
기타 제거 후, 행 수:  4398
TV이 포함된 행수:  280
************< Dec 1, 2022 - Dec 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  41717
기타 제거 후, 행 수:  41717
TV이 포함된 행수:  2004
<<<1개>>>
기존 dataset 행 수:  37143
기타 제거 후, 행 수:  37143
TV이 포함된 행수:  1703
<<<2개이상>>>
기존 dataset 행 수:  4574
기타 제거 후, 행 수:  4574
TV이 포함된 행수:  301
<<<주방가전>>
************< Jan 1, 2022 - Jan 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  31751
기타 제거 후, 행 수:  31751
주방가전이 포함된 행수:  3082
<<<1개>>>
기존 dataset 행 수:  28470
기타 제거 후, 행 수:  28470
주방가전이 포함된 행수:  2709
<<<2개이상>>>
기존 dataset 행 수:  3281
기타 제거 후, 행 수:  3281
주방가전이 포함된 행수:  373
************< Feb 1, 2022 - Feb 28, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  114787
기타 제거 후, 행 수:  114787
주방가전이 포함된 행수:  2980
<<<1개>>>
기존 dataset 행 수:  109046
기타 제거 후, 행 수:  109046
주방가전이 포함된 행수:  2653
<<<2개이상>>>
기존 dataset 행 수:  5741
기타 제거 후, 행 수:  5741
주방가전이 포함된 행수:  327
************< Mar 1, 2022 - Mar 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  63195
기타 제거 후, 행 수:  63195
주방가전이 포함된 행수:  2820
<<<1개>>>
기존 dataset 행 수:  57845
기타 제거 후, 행 수:  57845
주방가전이 포함된 행수:  2574
<<<2개이상>>>
기존 dataset 행 수:  5350
기타 제거 후, 행 수:  5350
주방가전이 포함된 행수:  246
************< Apr 1, 2022 - Apr 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  44954
기타 제거 후, 행 수:  44954
주방가전이 포함된 행수:  3375
<<<1개>>>
기존 dataset 행 수:  40080
기타 제거 후, 행 수:  40080
주방가전이 포함된 행수:  3086
<<<2개이상>>>
기존 dataset 행 수:  4874
기타 제거 후, 행 수:  4874
주방가전이 포함된 행수:  289
************< May 1, 2022 - May 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  64250
기타 제거 후, 행 수:  64250
주방가전이 포함된 행수:  3349
<<<1개>>>
기존 dataset 행 수:  58925
기타 제거 후, 행 수:  58925
주방가전이 포함된 행수:  2978
<<<2개이상>>>
기존 dataset 행 수:  5325
기타 제거 후, 행 수:  5325
주방가전이 포함된 행수:  371
************< Jun 1, 2022 - Jun 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  43734
기타 제거 후, 행 수:  43734
주방가전이 포함된 행수:  4125
<<<1개>>>
기존 dataset 행 수:  39133
기타 제거 후, 행 수:  39133
주방가전이 포함된 행수:  3720
<<<2개이상>>>
기존 dataset 행 수:  4601
기타 제거 후, 행 수:  4601
주방가전이 포함된 행수:  405
************< Jul 1, 2022 - Jul 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  42746
기타 제거 후, 행 수:  42746
주방가전이 포함된 행수:  5673
<<<1개>>>
기존 dataset 행 수:  37925
기타 제거 후, 행 수:  37925
주방가전이 포함된 행수:  5148
<<<2개이상>>>
기존 dataset 행 수:  4821
기타 제거 후, 행 수:  4821
주방가전이 포함된 행수:  525
************< Aug 1, 2022 - Aug 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  192328
기타 제거 후, 행 수:  192328
주방가전이 포함된 행수:  6473
<<<1개>>>
기존 dataset 행 수:  183012
기타 제거 후, 행 수:  183012
주방가전이 포함된 행수:  5900
<<<2개이상>>>
기존 dataset 행 수:  9316
기타 제거 후, 행 수:  9316
주방가전이 포함된 행수:  573
************< Sep 1, 2022 - Sep 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  132916
기타 제거 후, 행 수:  132916
주방가전이 포함된 행수:  4880
<<<1개>>>
기존 dataset 행 수:  126904
기타 제거 후, 행 수:  126904
주방가전이 포함된 행수:  4452
<<<2개이상>>>
기존 dataset 행 수:  6012
기타 제거 후, 행 수:  6012
주방가전이 포함된 행수:  428
************< Oct 1, 2022 - Oct 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  72186
기타 제거 후, 행 수:  72186
주방가전이 포함된 행수:  4717
<<<1개>>>
기존 dataset 행 수:  67276
기타 제거 후, 행 수:  67276
주방가전이 포함된 행수:  4243
<<<2개이상>>>
기존 dataset 행 수:  4910
기타 제거 후, 행 수:  4910
주방가전이 포함된 행수:  474
************< Nov 1, 2022 - Nov 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  39973
기타 제거 후, 행 수:  39973
주방가전이 포함된 행수:  5028
<<<1개>>>
기존 dataset 행 수:  35575
기타 제거 후, 행 수:  35575
주방가전이 포함된 행수:  4651
<<<2개이상>>>
기존 dataset 행 수:  4398
기타 제거 후, 행 수:  4398
주방가전이 포함된 행수:  377
************< Dec 1, 2022 - Dec 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  41717
기타 제거 후, 행 수:  41717
주방가전이 포함된 행수:  5517
<<<1개>>>
기존 dataset 행 수:  37143
기타 제거 후, 행 수:  37143
주방가전이 포함된 행수:  5020
<<<2개이상>>>
기존 dataset 행 수:  4574
기타 제거 후, 행 수:  4574
주방가전이 포함된 행수:  497
<<<생활가전>>
************< Jan 1, 2022 - Jan 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  31751
기타 제거 후, 행 수:  31751
생활가전이 포함된 행수:  8189
<<<1개>>>
기존 dataset 행 수:  28470
기타 제거 후, 행 수:  28470
생활가전이 포함된 행수:  6973
<<<2개이상>>>
기존 dataset 행 수:  3281
기타 제거 후, 행 수:  3281
생활가전이 포함된 행수:  1216
************< Feb 1, 2022 - Feb 28, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  114787
기타 제거 후, 행 수:  114787
생활가전이 포함된 행수:  6369
<<<1개>>>
기존 dataset 행 수:  109046
기타 제거 후, 행 수:  109046
생활가전이 포함된 행수:  5486
<<<2개이상>>>
기존 dataset 행 수:  5741
기타 제거 후, 행 수:  5741
생활가전이 포함된 행수:  883
************< Mar 1, 2022 - Mar 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  63195
기타 제거 후, 행 수:  63195
생활가전이 포함된 행수:  6328
<<<1개>>>
기존 dataset 행 수:  57845
기타 제거 후, 행 수:  57845
생활가전이 포함된 행수:  5650
<<<2개이상>>>
기존 dataset 행 수:  5350
기타 제거 후, 행 수:  5350
생활가전이 포함된 행수:  678
************< Apr 1, 2022 - Apr 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  44954
기타 제거 후, 행 수:  44954
생활가전이 포함된 행수:  10440
<<<1개>>>
기존 dataset 행 수:  40080
기타 제거 후, 행 수:  40080
생활가전이 포함된 행수:  9433
<<<2개이상>>>
기존 dataset 행 수:  4874
기타 제거 후, 행 수:  4874
생활가전이 포함된 행수:  1007
************< May 1, 2022 - May 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  64250
기타 제거 후, 행 수:  64250
생활가전이 포함된 행수:  10920
<<<1개>>>
기존 dataset 행 수:  58925
기타 제거 후, 행 수:  58925
생활가전이 포함된 행수:  9666
<<<2개이상>>>
기존 dataset 행 수:  5325
기타 제거 후, 행 수:  5325
생활가전이 포함된 행수:  1254
************< Jun 1, 2022 - Jun 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  43734
기타 제거 후, 행 수:  43734
생활가전이 포함된 행수:  13575
<<<1개>>>
기존 dataset 행 수:  39133
기타 제거 후, 행 수:  39133
생활가전이 포함된 행수:  12354
<<<2개이상>>>
기존 dataset 행 수:  4601
기타 제거 후, 행 수:  4601
생활가전이 포함된 행수:  1221
************< Jul 1, 2022 - Jul 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  42746
기타 제거 후, 행 수:  42746
생활가전이 포함된 행수:  14444
<<<1개>>>
기존 dataset 행 수:  37925
기타 제거 후, 행 수:  37925
생활가전이 포함된 행수:  12924
<<<2개이상>>>
기존 dataset 행 수:  4821
기타 제거 후, 행 수:  4821
생활가전이 포함된 행수:  1520
************< Aug 1, 2022 - Aug 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  192328
기타 제거 후, 행 수:  192328
생활가전이 포함된 행수:  10661
<<<1개>>>
기존 dataset 행 수:  183012
기타 제거 후, 행 수:  183012
생활가전이 포함된 행수:  9376
<<<2개이상>>>
기존 dataset 행 수:  9316
기타 제거 후, 행 수:  9316
생활가전이 포함된 행수:  1285
************< Sep 1, 2022 - Sep 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  132916
기타 제거 후, 행 수:  132916
생활가전이 포함된 행수:  7281
<<<1개>>>
기존 dataset 행 수:  126904
기타 제거 후, 행 수:  126904
생활가전이 포함된 행수:  6282
<<<2개이상>>>
기존 dataset 행 수:  6012
기타 제거 후, 행 수:  6012
생활가전이 포함된 행수:  999
************< Oct 1, 2022 - Oct 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  72186
기타 제거 후, 행 수:  72186
생활가전이 포함된 행수:  6110
<<<1개>>>
기존 dataset 행 수:  67276
기타 제거 후, 행 수:  67276
생활가전이 포함된 행수:  5342
<<<2개이상>>>
기존 dataset 행 수:  4910
기타 제거 후, 행 수:  4910
생활가전이 포함된 행수:  768
************< Nov 1, 2022 - Nov 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  39973
기타 제거 후, 행 수:  39973
생활가전이 포함된 행수:  7006
<<<1개>>>
기존 dataset 행 수:  35575
기타 제거 후, 행 수:  35575
생활가전이 포함된 행수:  5944
<<<2개이상>>>
기존 dataset 행 수:  4398
기타 제거 후, 행 수:  4398
생활가전이 포함된 행수:  1062
************< Dec 1, 2022 - Dec 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  41717
기타 제거 후, 행 수:  41717
생활가전이 포함된 행수:  8926
<<<1개>>>
기존 dataset 행 수:  37143
기타 제거 후, 행 수:  37143
생활가전이 포함된 행수:  7283
<<<2개이상>>>
기존 dataset 행 수:  4574
기타 제거 후, 행 수:  4574
생활가전이 포함된 행수:  1643
<<<PC_주변기기>>
************< Jan 1, 2022 - Jan 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  31751
기타 제거 후, 행 수:  31751
PC_주변기기이 포함된 행수:  2808
<<<1개>>>
기존 dataset 행 수:  28470
기타 제거 후, 행 수:  28470
PC_주변기기이 포함된 행수:  2465
<<<2개이상>>>
기존 dataset 행 수:  3281
기타 제거 후, 행 수:  3281
PC_주변기기이 포함된 행수:  343
************< Feb 1, 2022 - Feb 28, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  114787
기타 제거 후, 행 수:  114787
PC_주변기기이 포함된 행수:  2607
<<<1개>>>
기존 dataset 행 수:  109046
기타 제거 후, 행 수:  109046
PC_주변기기이 포함된 행수:  2310
<<<2개이상>>>
기존 dataset 행 수:  5741
기타 제거 후, 행 수:  5741
PC_주변기기이 포함된 행수:  297
************< Mar 1, 2022 - Mar 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  63195
기타 제거 후, 행 수:  63195
PC_주변기기이 포함된 행수:  4186
<<<1개>>>
기존 dataset 행 수:  57845
기타 제거 후, 행 수:  57845
PC_주변기기이 포함된 행수:  3812
<<<2개이상>>>
기존 dataset 행 수:  5350
기타 제거 후, 행 수:  5350
PC_주변기기이 포함된 행수:  374
************< Apr 1, 2022 - Apr 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  44954
기타 제거 후, 행 수:  44954
PC_주변기기이 포함된 행수:  2288
<<<1개>>>
기존 dataset 행 수:  40080
기타 제거 후, 행 수:  40080
PC_주변기기이 포함된 행수:  1991
<<<2개이상>>>
기존 dataset 행 수:  4874
기타 제거 후, 행 수:  4874
PC_주변기기이 포함된 행수:  297
************< May 1, 2022 - May 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  64250
기타 제거 후, 행 수:  64250
PC_주변기기이 포함된 행수:  2056
<<<1개>>>
기존 dataset 행 수:  58925
기타 제거 후, 행 수:  58925
PC_주변기기이 포함된 행수:  1719
<<<2개이상>>>
기존 dataset 행 수:  5325
기타 제거 후, 행 수:  5325
PC_주변기기이 포함된 행수:  337
************< Jun 1, 2022 - Jun 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  43734
기타 제거 후, 행 수:  43734
PC_주변기기이 포함된 행수:  1890
<<<1개>>>
기존 dataset 행 수:  39133
기타 제거 후, 행 수:  39133
PC_주변기기이 포함된 행수:  1584
<<<2개이상>>>
기존 dataset 행 수:  4601
기타 제거 후, 행 수:  4601
PC_주변기기이 포함된 행수:  306
************< Jul 1, 2022 - Jul 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  42746
기타 제거 후, 행 수:  42746
PC_주변기기이 포함된 행수:  2191
<<<1개>>>
기존 dataset 행 수:  37925
기타 제거 후, 행 수:  37925
PC_주변기기이 포함된 행수:  1956
<<<2개이상>>>
기존 dataset 행 수:  4821
기타 제거 후, 행 수:  4821
PC_주변기기이 포함된 행수:  235
************< Aug 1, 2022 - Aug 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  192328
기타 제거 후, 행 수:  192328
PC_주변기기이 포함된 행수:  2544
<<<1개>>>
기존 dataset 행 수:  183012
기타 제거 후, 행 수:  183012
PC_주변기기이 포함된 행수:  2229
<<<2개이상>>>
기존 dataset 행 수:  9316
기타 제거 후, 행 수:  9316
PC_주변기기이 포함된 행수:  315
************< Sep 1, 2022 - Sep 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  132916
기타 제거 후, 행 수:  132916
PC_주변기기이 포함된 행수:  2174
<<<1개>>>
기존 dataset 행 수:  126904
기타 제거 후, 행 수:  126904
PC_주변기기이 포함된 행수:  1837
<<<2개이상>>>
기존 dataset 행 수:  6012
기타 제거 후, 행 수:  6012
PC_주변기기이 포함된 행수:  337
************< Oct 1, 2022 - Oct 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  72186
기타 제거 후, 행 수:  72186
PC_주변기기이 포함된 행수:  2649
<<<1개>>>
기존 dataset 행 수:  67276
기타 제거 후, 행 수:  67276
PC_주변기기이 포함된 행수:  2322
<<<2개이상>>>
기존 dataset 행 수:  4910
기타 제거 후, 행 수:  4910
PC_주변기기이 포함된 행수:  327
************< Nov 1, 2022 - Nov 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  39973
기타 제거 후, 행 수:  39973
PC_주변기기이 포함된 행수:  2784
<<<1개>>>
기존 dataset 행 수:  35575
기타 제거 후, 행 수:  35575
PC_주변기기이 포함된 행수:  2373
<<<2개이상>>>
기존 dataset 행 수:  4398
기타 제거 후, 행 수:  4398
PC_주변기기이 포함된 행수:  411
************< Dec 1, 2022 - Dec 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  41717
기타 제거 후, 행 수:  41717
PC_주변기기이 포함된 행수:  2841
<<<1개>>>
기존 dataset 행 수:  37143
기타 제거 후, 행 수:  37143
PC_주변기기이 포함된 행수:  2409
<<<2개이상>>>
기존 dataset 행 수:  4574
기타 제거 후, 행 수:  4574
PC_주변기기이 포함된 행수:  432
<<<오디오>>
************< Jan 1, 2022 - Jan 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  31751
기타 제거 후, 행 수:  31751
오디오이 포함된 행수:  753
<<<1개>>>
기존 dataset 행 수:  28470
기타 제거 후, 행 수:  28470
오디오이 포함된 행수:  707
<<<2개이상>>>
기존 dataset 행 수:  3281
기타 제거 후, 행 수:  3281
오디오이 포함된 행수:  46
************< Feb 1, 2022 - Feb 28, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  114787
기타 제거 후, 행 수:  114787
오디오이 포함된 행수:  1339
<<<1개>>>
기존 dataset 행 수:  109046
기타 제거 후, 행 수:  109046
오디오이 포함된 행수:  1270
<<<2개이상>>>
기존 dataset 행 수:  5741
기타 제거 후, 행 수:  5741
오디오이 포함된 행수:  69
************< Mar 1, 2022 - Mar 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  63195
기타 제거 후, 행 수:  63195
오디오이 포함된 행수:  2003
<<<1개>>>
기존 dataset 행 수:  57845
기타 제거 후, 행 수:  57845
오디오이 포함된 행수:  1884
<<<2개이상>>>
기존 dataset 행 수:  5350
기타 제거 후, 행 수:  5350
오디오이 포함된 행수:  119
************< Apr 1, 2022 - Apr 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  44954
기타 제거 후, 행 수:  44954
오디오이 포함된 행수:  1961
<<<1개>>>
기존 dataset 행 수:  40080
기타 제거 후, 행 수:  40080
오디오이 포함된 행수:  1831
<<<2개이상>>>
기존 dataset 행 수:  4874
기타 제거 후, 행 수:  4874
오디오이 포함된 행수:  130
************< May 1, 2022 - May 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  64250
기타 제거 후, 행 수:  64250
오디오이 포함된 행수:  1992
<<<1개>>>
기존 dataset 행 수:  58925
기타 제거 후, 행 수:  58925
오디오이 포함된 행수:  1829
<<<2개이상>>>
기존 dataset 행 수:  5325
기타 제거 후, 행 수:  5325
오디오이 포함된 행수:  163
************< Jun 1, 2022 - Jun 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  43734
기타 제거 후, 행 수:  43734
오디오이 포함된 행수:  2166
<<<1개>>>
기존 dataset 행 수:  39133
기타 제거 후, 행 수:  39133
오디오이 포함된 행수:  2041
<<<2개이상>>>
기존 dataset 행 수:  4601
기타 제거 후, 행 수:  4601
오디오이 포함된 행수:  125
************< Jul 1, 2022 - Jul 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  42746
기타 제거 후, 행 수:  42746
오디오이 포함된 행수:  2650
<<<1개>>>
기존 dataset 행 수:  37925
기타 제거 후, 행 수:  37925
오디오이 포함된 행수:  2515
<<<2개이상>>>
기존 dataset 행 수:  4821
기타 제거 후, 행 수:  4821
오디오이 포함된 행수:  135
************< Aug 1, 2022 - Aug 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  192328
기타 제거 후, 행 수:  192328
오디오이 포함된 행수:  2931
<<<1개>>>
기존 dataset 행 수:  183012
기타 제거 후, 행 수:  183012
오디오이 포함된 행수:  2748
<<<2개이상>>>
기존 dataset 행 수:  9316
기타 제거 후, 행 수:  9316
오디오이 포함된 행수:  183
************< Sep 1, 2022 - Sep 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  132916
기타 제거 후, 행 수:  132916
오디오이 포함된 행수:  2677
<<<1개>>>
기존 dataset 행 수:  126904
기타 제거 후, 행 수:  126904
오디오이 포함된 행수:  2526
<<<2개이상>>>
기존 dataset 행 수:  6012
기타 제거 후, 행 수:  6012
오디오이 포함된 행수:  151
************< Oct 1, 2022 - Oct 31, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  72186
기타 제거 후, 행 수:  72186
오디오이 포함된 행수:  2631
<<<1개>>>
기존 dataset 행 수:  67276
기타 제거 후, 행 수:  67276
오디오이 포함된 행수:  2512
<<<2개이상>>>
기존 dataset 행 수:  4910
기타 제거 후, 행 수:  4910
오디오이 포함된 행수:  119
************< Nov 1, 2022 - Nov 30, 2022 >******************
<<<전체>>>
기존 dataset 행 수:  39973
기타 제거 후, 행 수:  39973
오디오이 포함된 행수:  2420
<<<1개>>>
기존 dataset 행 수:  35575
기타 제거 후, 행 수:  35575
오디오이 포함된 행수:  2305
<<<2개이상>>>
기존 dataset 행 수:  4398
기타 제거 후, 행 수:  4398
오디오이 포함된 행수:  115